<nav class="mb-1 navbar navbar-expand bg-white rounded">
    <div class="container">
        <div class="navbar-header">
            <a [routerLink]="['/catalogo']" class="navbar-brand" (click)="showBadge()">La Bodega</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a [routerLink]="['carrito']" class="nav-link waves-effect waves-light" (click)="hideBadge()">
                    <i class="fa fa-shopping-cart"></i><span class="badge bg-danger" *ngIf="cantidad()">{{cantidad()}}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['catalogo']" class="nav-link waves-effect waves-light" (click)="showBadge()">
                        <i class="fa fa-user-circle-o"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['']" class="nav-link waves-effect waves-ligh" (click)="showBadge()">
                    <i class="fa fa-sign-out"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
