<div class="card">
    <a [title]="producto.nombre" [routerLink]="['producto', producto.nombre]" title="Ver producto">
        <img class="card-img-top" src="../../assets/img/{{producto.imagen}}" alt="producto.nombre" /></a>
    <div class="card-body text-muted">
        <a [title]="producto.nombre" title="Ver producto">
            <h4 class="card-title">{{ producto.nombre }}</h4>
        </a>
        <p>Precio: {{producto.precio}} ‎R$</p>
        <p>Stock: {{producto.unidadesDisponibles}}</p>
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group inline pull-left">
                    <a [title]="producto.nombre" [routerLink]="['producto', producto.nombre]"
                        class="btn btn-danger btn-sm">Ver más</a>
                </div>
                <div class="btn-group inline pull-right">
                    <button class="btn btn-success btn-sm" (click)="addPedido(unidades.value, producto)" >Add <i class="fa fa-shopping-cart"></i></button>
                    <input type="number" name="producto.nombre" value="1" min="1" max="producto.unidadesDisponibles" #unidades/>
                </div>
            </div>
        </div>
    </div>
</div>
